<div class="row content">
  <div class="col-md-3 sidenav global-stats">
    <div class="global-counter">
      <h2 class="gc-head">Global Counter</h2>
      <span class="last-updated"
        >Last updated on: {{ time | date: "medium" }}</span
      >
      <br />
      <br />
    </div>
    <div>
      <div class="global-new">
        <div class="alert alert-warning global-info">
          <strong>New confirmed cases: </strong> {{ globalCases.newConfirmed }}
        </div>
        <div class="alert alert-danger global-info">
          <strong>New deaths: </strong> {{ globalCases.newDeath }}
        </div>
        <div class="alert alert-success global-info">
          <strong>New recovered cases: </strong> {{ globalCases.newRecovered }}
        </div>
      </div>

      <div class="global-new">
        <div class="alert alert-info global-info">
          <strong>Total active cases: </strong> {{ globalCases.active }}
        </div>
      </div>

      <div class="global-total">
        <div class="alert alert-warning global-info">
          <strong>Total confirmed cases: </strong>
          {{ globalCases.totalConfirmed }}
        </div>
        <div class="alert alert-danger global-info">
          <strong>Total deaths: </strong> {{ globalCases.totalDeath }}
        </div>
        <div class="alert alert-success global-info">
          <strong>Total recovered cases: </strong>
          {{ globalCases.totalRecovered }}
        </div>
      </div>
      <hr *ngIf="clicked" />
      <div class="country-stats" *ngIf="clicked">
        <h3 class="gc-head">Stats for {{ country }}</h3>
        <br />
        <div class="alert alert-warning country-info">
          <strong>New confirmed cases: </strong> {{ countryCases.newConfirmed }}
        </div>
        <div class="alert alert-danger country-info">
          <strong>New deaths: </strong> {{ countryCases.newDeath }}
        </div>
        <div class="alert alert-success country-info">
          <strong>New recovered cases: </strong> {{ countryCases.newRecovered }}
        </div>
        <div
          class="alert alert-info"
          style="margin-bottom: 0px; border-radius: 0px; text-align: center"
        >
          <strong>Total active cases: </strong> {{ countryCases.active }}
        </div>
        <div class="alert alert-warning country-info">
          <strong>Total confirmed cases: </strong>
          {{ countryCases.totalConfirmed }}
        </div>
        <div class="alert alert-danger country-info">
          <strong>Total deaths: </strong> {{ countryCases.totalDeath }}
        </div>
        <div class="alert alert-success country-info">
          <strong>Total recovered cases: </strong>
          {{ countryCases.totalRecovered }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 map">
    <div id="chartdiv" style="width: 100%; height: 800px"></div>
  </div>
</div>
