.global-stats {
  border: solid gold 2px;
  border-left: transparent;
  background-color: rgba(255, 215, 0, 0.1);
  height: 100%;
}

.map {
  height: 800px;
  /* border: 2px solid black;
  border-right: transparent; */
  /* background-color: #212327; */
}

.global-counter {
  width: 100%;
  text-align: center;
}

.gc-head {
  color: aliceblue;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.last-updated {
  color: silver;
  font-family: "Open Sans", sans-serif;
}

.global-info {
  font-size: 115%;
  margin-bottom: 10px;
}

.country-info {
  height: 100%;
  min-height: 75px;
  width: 33.33%;
  border-radius: 0px;
  float: left;
}

.button-group {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 5px;
}

.btn-light {
  border-radius: 30px;
  outline: none;
  border: none;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.btn-light:hover {
  background-color: rgba(239, 239, 239, 0.7);
}

.btn-light:focus {
  outline: none;
  border: none;
}

.country-1 {
  background-color: #1f4e5f;
  color: #c9d6de;
  border: none;
}

.country-2 {
  background-color: #79a8a9;
  color: #bdc8ce;
  border: none;
}

.country-3 {
  background-color: #98bbbd;
  color: #6f7275;
  border: none;
}

.alert-info {
  background-color: #4ea8de80;
  border-color: #4ea8de;
  border-style: "solid";
  color: #edf2f4c4;
}

.alert-danger {
  background-color: #e76f5180;
  border-color: #e76f51;
  border-style: "solid";
  color: #edf2f4c4;
}

.alert-success {
  background-color: #2a9d8f80;
  border-color: #2a9d8f;
  border-style: "solid";
  color: #edf2f4c4;
}

.alert-warning {
  background-color: #f4a36180;
  border-color: #f4a361;
  border-style: "solid";
  color: #edf2f4c4;
}

.no-border {
  border: none;
}

.all-country-name {
  text-align: right;
  font-size: 125%;
  width: 52%;
}

.all-country-count {
  text-align: left;
  font-size: 125%;
}

.close-btn {
  float: right;
  background-color: rgba(255, 255, 255, 0.03);
  color: rgba(243, 65, 65, 0.226);
  outline: none;
  border: none;
  font-family: "Open Sans", sans-serif;
}

.close-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(243, 65, 65, 1);
}

.loading {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  backdrop-filter: saturate(130%) blur(3px);
  -webkit-backdrop-filter: saturate(130%) blur(3px);
}

.loading-span {
  display: flex;
  justify-content: center;
  margin-top: 23%;
}

/*



*/
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  background-color: #fff;
  background: radial-gradient(
    ellipse at center,
    #ff3d00 0%,
    #ff3d00 14%,
    #fff 15%,
    #fff 100%
  );
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.loader::after,
.loader::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 4px;
  background: #ff3d00;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: 25% 0;
  box-sizing: border-box;
  animation: rotation 10s linear infinite;
}
.loader::before {
  height: 22px;
  width: 2px;
  transform: translateX(-50%) rotate(0deg);
  animation-duration: 1s;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
