<div class="loading" *ngIf="loading">
  <span class="loading-span">
    <span class="loader"></span>
  </span>
</div>

<div class="row content">
  <div class="col-md-3 sidenav global-stats">
    <div class="global-counter">
      <h2 class="gc-head">Global Counter</h2>
      <span class="last-updated"
        >Last updated on: {{ time | date: "medium" }}</span
      >
      <br />
      <br />
    </div>
    <div style="font-family: 'Work Sans', sans-serif; font-size: 115%">
      <div class="global-new">
        <div class="alert alert-warning global-info">
          <strong>New confirmed cases </strong>
          <span class="pull-right">{{ globalCases.newConfirmed }}</span>
        </div>
        <div class="alert alert-danger global-info">
          <strong>New deaths </strong>
          <span class="pull-right">{{ globalCases.newDeath }}</span>
        </div>
        <div class="alert alert-success global-info">
          <strong>New recovered cases </strong>
          <span class="pull-right">{{ globalCases.newRecovered }}</span>
        </div>
      </div>

      <div class="global-new">
        <div class="alert alert-info global-info">
          <strong>Total active cases </strong>
          <span class="pull-right">{{ globalCases.active }}</span>
        </div>
      </div>
      <div class="global-new">
        <div class="alert alert-success global-info">
          <strong>Total recovered cases </strong>
          <span class="pull-right">{{ globalCases.totalRecovered }}</span>
        </div>
        <div class="alert alert-danger global-info">
          <strong>Total deaths </strong>
          <span class="pull-right">{{ globalCases.totalDeath }}</span>
        </div>
      </div>
      <div class="alert alert-warning global-info">
        <strong>Total confirmed cases </strong>
        <span class="pull-right">
          {{ globalCases.totalConfirmed }}
        </span>
      </div>
    </div>

    <hr />

    <!-- different stats -->
    <div *ngIf="!clicked">
      <h3 class="gc-head">Top 3 Countries by</h3>

      <div class="button-group">
        <button
          type="button"
          id="death"
          class="btn btn-light"
          (click)="changeFilter('death')"
          [ngStyle]="{ borderColor: getColor('death'), borderStyle: 'solid' }"
        >
          Deaths
        </button>
        <button
          type="button"
          id="total"
          class="btn btn-light"
          (click)="changeFilter('total')"
          [ngStyle]="{ borderColor: getColor('total'), borderStyle: 'solid' }"
        >
          Total Cases
        </button>
        <button
          type="button"
          id="active"
          class="btn btn-light"
          (click)="changeFilter('active')"
          [ngStyle]="{
            borderColor: getColor('active'),
            borderStyle: 'solid'
          }"
        >
          Active Cases
        </button>
        <button
          type="button"
          id="recovery"
          class="btn btn-light"
          (click)="changeFilter('recovery')"
          [ngStyle]="{
            borderColor: getColor('recovery'),
            borderStyle: 'solid'
          }"
        >
          Recoveries
        </button>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row" class="country-1 all-country-name">
              {{ topThreeCountries.first }}
            </th>
            <th class="country-1 all-country-count">
              {{ topThreeCountries.firstCases }}
            </th>
          </tr>
          <tr>
            <th scope="row" class="country-2 all-country-name">
              {{ topThreeCountries.second }}
            </th>
            <th class="country-2 all-country-count">
              {{ topThreeCountries.secondCases }}
            </th>
          </tr>
          <tr>
            <th scope="row" class="country-3 all-country-name">
              {{ topThreeCountries.third }}
            </th>
            <th class="country-3 all-country-count">
              {{ topThreeCountries.thirdCases }}
            </th>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- country stats -->
    <div class="country-stats" *ngIf="clicked">
      <h3 class="gc-head">
        Stats for {{ country }}
        <button class="btn btn-light close-btn" (click)="hideCountryStatus()">
          X
        </button>
      </h3>
      <table class="table">
        <tbody>
          <tr>
            <td class="no-border alert-warning">
              <strong>New confirmed cases: </strong>
              {{ countryCases.newConfirmed }}
            </td>
            <td class="no-border alert-danger">
              <strong>New deaths: </strong> {{ countryCases.newDeath }}
            </td>
            <td class="no-border alert-success">
              <strong>New recovered cases: </strong>
              {{ countryCases.newRecovered }}
            </td>
          </tr>
          <tr>
            <th
              scope="row"
              colspan="3"
              class="no-border alert-info"
              style="text-align: center; font-size: 125%"
            >
              <strong>Total active cases: </strong> {{ countryCases.active }}
            </th>
          </tr>
          <tr>
            <td class="no-border alert-warning">
              <strong>Total confirmed cases: </strong>
              {{ countryCases.totalConfirmed }}
            </td>
            <td class="no-border alert-danger">
              <strong>Total deaths: </strong> {{ countryCases.totalDeath }}
            </td>
            <td class="no-border alert-success">
              <strong>Total recovered cases: </strong>
              {{ countryCases.totalRecovered }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-9 map">
    <div id="chartdiv" style="width: 100%; height: 800px"></div>
  </div>
</div>
